*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: ;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(245, 245, 245);
    background-color: rgb(48, 48, 48);
    text-rendering: optimizeLegibility;
}

header,
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: rgb(46, 23, 92);
}

header h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 5rem;
}

header h1 span.emoji {
    font-size: 3rem;
}

main {
    flex-grow: 1;
}
