*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(245, 245, 245);
    background-color: rgb(48, 48, 48);
    text-rendering: optimizeLegibility;
}

header,
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: rgb(46, 23, 92);
}

header {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 5rem;
    text-shadow: 0px 5px rgb(48, 48, 48);
    margin-top: 1rem;
    margin-bottom: 0;
}
@media (width <= 530px) {
    header h1 {
        font-size: 3rem;
    }
}

header h1 span.emoji {
    font-size: 3rem;
}
header button {
    max-width: fit-content;
    margin-bottom: 1rem;
}

main {
    flex-grow: 1;
    align-content: center;
}

main #score-board,
main #deck-area {
    width: 400px;
    height: 100px;
    margin: auto;
    background-color: rgb(3, 51, 3);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem 1.5rem;
}

main #score-board #streak-counter {
    align-items: center;
    transform: rotateZ(354deg);
}

main #score-board #modifiers {
    width: 150px;
}

#streak-counter h3,
#streak-counter p,
#discard-pile h3,
#active-pile h3 {
    font-family: "Jersey 10", sans-serif;
    text-shadow: 0px 3px rgb(48, 48, 48);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    line-height: 2rem;
}

#streak-counter.update-bounce-animate {
    animation-name: update-bounce;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes update-bounce {
    0% {
        transform: scale(1) rotateZ(-2deg);
    }
    30% {
        transform: scale(1.5) rotateZ(8deg);
    }
    50% {
        transform: scale(1.5) rotateZ(-11deg);
    }
    70% {
        transform: scale(1.5) rotateZ(8deg);
    }
    100% {
        transform: scale(1) rotateZ(-2deg);
    }
}

main #score-board #streak-counter h3 {
    font-size: 1.5rem;
}

main #score-board #streak-counter p {
    font-size: 3rem;
}

main div.game-board {
    width: 500px;
    height: 300px;
    background-color: rgb(3, 51, 3);
    margin: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
@media (width <= 530px) {
    main div.game-board {
        width: 400px;
    }
}

main div.game-board div.card-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.higher-lower {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.higher-lower button {
    width: 100%;
}

div.card {
    background-color: rgb(245, 245, 245);
    color: rgb(12, 12, 12);
    width: 6rem;
    height: 9rem;
    border: solid 2px rgb(12, 12, 12);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-viewer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.3rem;
}
#card-viewer-container::after {
    content: "";
    flex: auto;
}

#card-viewer-container.discard {
    flex-direction: row-reverse;
}

#card-viewer-container div.card {
    width: 3rem;
    height: 4.2rem;
    font-size: small;
}

main div.game-board div.card h3 {
    font-size: 2rem;
}

div.card.card-back {
    background-image: url(images/card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 2px rgb(245, 245, 245);
}

div.card.card-back h3 {
    display: none;
}

main div.game-board div.card.card-back:hover {
    cursor: not-allowed;
}

main div.game-board div.card.flippable:not(:hover) {
    animation: shake 5s infinite;
}

/* From [https://unused-css.com/blog/css-shake-animation/] */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateY(0) rotate(0);
    }
    85% {
        transform: translateY(-9px);
    }
    87% {
        transform: translateY(-9px) rotate(7deg);
    }
    91% {
        transform: translateY(-9px) rotate(-7deg);
    }
    93% {
        transform: translateY(-9px) rotate(7deg);
    }
    95% {
        transform: translateY(-9px) rotate(-7deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

main div.game-board div.card.flippable:hover {
    border: solid 3px #d29603;
    cursor: pointer;
}

.flip-animate {
    animation-name: flip-animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes flip-animation {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.slide-and-replace {
    animation: slide-and-replace 1s forwards;
}
@keyframes slide-and-replace {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-133%);
    }
}

.slide-and-fade-out {
    animation: slide-and-fade-out 1s forwards;
    animation-iteration-count: 1;
}

@keyframes slide-and-fade-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

button {
    padding: 0.5rem 1.5rem;
    background-color: rgb(110, 0, 0);
    border: solid 2px rgb(12, 12, 12);
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-weight: 600;
    min-width: 6rem;
}

button:hover {
    background-color: #d29603;
    cursor: pointer;
}

button.not-selectable {
    background-color: gray;
    cursor: not-allowed;
}

button.selected {
    background-color: rgb(15, 108, 15);
    border: solid 2px #d29603;
    animation-name: selection-float;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes selection-float {
    from {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(2px);
    }
}

#deck-area div.card-pile {
    transition: transform 0.3s ease-in-out;
}

#deck-area div.card-pile.empty,
#deck-area div.card-pile.inactive-pile {
    cursor: not-allowed;
}

#deck-area div.card-pile.empty {
    opacity: 0.5;
}

.inactive-pile {
    filter: grayscale();
}

#deck-area div.card-pile:not(.inactive-pile):hover {
    border: solid 2px #d29603;
    cursor: pointer;
    transform: translateY(-20px) rotateZ(-2deg) scale(1.1);
}

footer p span#footer-emoji {
    cursor: pointer;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    pointer-events: none;
}

#modal-overlay {
    background-color: rgba(48, 48, 48, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;
}
#modal-content {
    background-color: rgb(46, 23, 92);
    margin: auto;
    width: 600px;
    min-height: 400px;
    padding: 2rem;
    box-shadow: 0px 5px rgb(48, 48, 48);
}

#modal-content h2 {
    font-family: "Jersey 10", sans-serif;
    font-size: 3rem;
    text-shadow: 0px 5px rgb(48, 48, 48);
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
}

#game-over-modal-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

span#game-over-streak {
    font-family: "Jersey 10", sans-serif;
    padding-left: 5px;
    color: #d29603;
    font-size: 3rem;
    text-shadow: 0px 5px rgb(48, 48, 48);
    margin-bottom: 0;
    text-align: center;
}

#modal-header,
#modifier-header,
#modal-btn-row,
#modifier-btn-row {
    display: flex;
    justify-content: center;
}

#game-over-modal-text {
    text-align: center;
    gap: 0.25rem;
}

#show-pile-modal,
#game-over-modal,
#show-rules-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#show-pile-modal {
    gap: 1rem;
}

#last-discarded-in-pile {
    transform: scale(1.3) translateX(0.3rem) translateY(-0.5rem);
    border: solid 3px #d29603;
}
#next-active-in-pile {
    transform: scale(1.3) translateX(-0.3rem) translateY(-0.5rem);
    border: solid 3px #d29603;
}

#modifier-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;
    transform: translateY(-105%);
    transition: transform 0.5s ease-in-out;
    background-color: rgb(3, 51, 3);
    box-shadow: 0px 5px rgb(48, 48, 48);
    border-bottom: 5px solid #d29603;
}
#modifier-container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    max-width: 600px;
    margin: auto;
    gap: 2rem;
}
#modifier-header {
    max-width: 125px;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
}
#modifier-header h2 {
    font-family: "Jersey 10", sans-serif;
    font-size: 2rem;
    text-shadow: 0px 5px rgb(48, 48, 48);
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
    line-height: 2rem;
    transform: rotateZ(-3deg);
}
#modifier-header button {
    max-height: 2.5rem;
    padding: 0.5rem;
}
#modifier-drawer.is-visible {
    transform: translate(0);
}

.modifier-choice:not(.active-modifier-pin):hover {
    animation: bounce 2s infinite ease-in-out;
}
@keyframes bounce {
    0% {
        transform: translateY(0) scaleY(1);
    }
    25% {
        transform: translateY(-5px) scaleY(1);
    }
    50% {
        transform: translateY(0) scaleY(0.98) scaleX(1.02);
    }
    75% {
        transform: translateY(-5px) scaleY(1);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}

.modifier-choice {
    padding: 0.5rem;
    width: 8rem;
    height: 11rem;
}

.modifier-choice img {
    width: 48px;
    height: 48px;
}

.modifier-choice h3 {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5rem;
    text-shadow: 0px 5px rgb(48, 48, 48);
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
}
.modifier-choice p {
    font-weight: 400;
    font-size: 0.6rem;
}

#modifier-choices-container {
    display: flex;
    gap: 1rem;
}

.hidden {
    visibility: hidden;
}

.rarity-label {
    border-radius: 50px;
    text-transform: uppercase;
    font-style: italic;
    padding: 0.25rem;
    box-shadow: 0px 5px rgb(48, 48, 48);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 0.5rem;
}
.modifier-choice.rarity-common {
    background-color: rgb(0, 92, 99);
    border: solid 3px rgb(0, 255, 208);
}

.rarity-common .rarity-label {
    border: solid 2px rgb(0, 255, 208);
    color: rgb(0, 255, 208);
}
.modifier-choice.rarity-uncommon {
    background-color: rgb(10, 10, 76);
    border: solid 3px rgb(91, 68, 242);
}

.rarity-uncommon .rarity-label {
    border: solid 2px rgb(91, 68, 242);
    color: rgb(91, 68, 242);
}
.modifier-choice.rarity-rare {
    background-color: rgb(123, 5, 44);
    border: solid 3px palevioletred;
}

.rarity-rare .rarity-label {
    border: solid 2px palevioletred;
    color: palevioletred;
}
.modifier-choice.rarity-super-rare {
    background-color: rgb(110, 79, 0);
    border: solid 3px #d29603;
}

.rarity-super-rare .rarity-label {
    border: solid 2px #d29603;
    color: #d29603;
}

#modifiers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.active-modifier-pin {
    border-radius: 50px;
    width: 56px;
    height: 56px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.active-modifier-pin img {
    width: 32px;
    height: 32px;
}

#modifier-tooltip {
    position: fixed;
    display: none;
    padding: 1rem;
    background-color: rgb(46, 23, 92);
    z-index: 999;
    width: 200px;
    pointer-events: none;
    line-height: 1rem;
    font-size: 1rem;
    transform: translateX(-50%);
}

#modifier-tooltip.is-above {
    transform: translateX(-50%) translateY(-100%);
}

.fade-to-active-pile {
    animation-name: move-fade-down-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes move-fade-down-right {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(100px, 100px);
        opacity: 0;
    }
}

/* START PIXEL CORNERS */
/* ------------------- */

/* Pixelated border effect, from  [https://pixelcorners.lukeb.co.uk/] */
.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(
        0px calc(100% - 21px),
        3px calc(100% - 21px),
        3px calc(100% - 15px),
        6px calc(100% - 15px),
        6px calc(100% - 9px),
        9px calc(100% - 9px),
        9px calc(100% - 6px),
        15px calc(100% - 6px),
        15px calc(100% - 3px),
        21px calc(100% - 3px),
        21px 100%,
        calc(100% - 21px) 100%,
        calc(100% - 21px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 21px),
        100% calc(100% - 21px),
        100% 21px,
        calc(100% - 3px) 21px,
        calc(100% - 3px) 15px,
        calc(100% - 6px) 15px,
        calc(100% - 6px) 9px,
        calc(100% - 9px) 9px,
        calc(100% - 9px) 6px,
        calc(100% - 15px) 6px,
        calc(100% - 15px) 3px,
        calc(100% - 21px) 3px,
        calc(100% - 21px) 0px,
        21px 0px,
        21px 3px,
        15px 3px,
        15px 6px,
        9px 6px,
        9px 9px,
        6px 9px,
        6px 15px,
        3px 15px,
        3px 21px,
        0px 21px
    );
    position: relative;
}
.pixel-corners {
    border: 6px solid transparent;
}
.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(
        6px 24px,
        9px 24px,
        9px 18px,
        12px 18px,
        12px 12px,
        18px 12px,
        18px 9px,
        24px 9px,
        24px 6px,
        calc(100% - 24px) 6px,
        calc(100% - 24px) 9px,
        calc(100% - 18px) 9px,
        calc(100% - 18px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 18px,
        calc(100% - 9px) 18px,
        calc(100% - 9px) 24px,
        calc(100% - 6px) 24px,
        calc(100% - 6px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 6px),
        24px calc(100% - 6px),
        24px calc(100% - 9px),
        18px calc(100% - 9px),
        18px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 18px),
        9px calc(100% - 18px),
        9px calc(100% - 24px),
        6px calc(100% - 24px)
    );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(
        0px calc(100% - 21px),
        3px calc(100% - 21px),
        3px calc(100% - 15px),
        6px calc(100% - 15px),
        6px calc(100% - 9px),
        9px calc(100% - 9px),
        9px calc(100% - 6px),
        15px calc(100% - 6px),
        15px calc(100% - 3px),
        21px calc(100% - 3px),
        21px 100%,
        calc(100% - 21px) 100%,
        calc(100% - 21px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 21px),
        100% calc(100% - 21px),
        100% 21px,
        calc(100% - 3px) 21px,
        calc(100% - 3px) 15px,
        calc(100% - 6px) 15px,
        calc(100% - 6px) 9px,
        calc(100% - 9px) 9px,
        calc(100% - 9px) 6px,
        calc(100% - 15px) 6px,
        calc(100% - 15px) 3px,
        calc(100% - 21px) 3px,
        calc(100% - 21px) 0px,
        21px 0px,
        21px 3px,
        15px 3px,
        15px 6px,
        9px 6px,
        9px 9px,
        6px 9px,
        6px 15px,
        3px 15px,
        3px 21px,
        0px 21px,
        0px 50%,
        6px 50%,
        6px 24px,
        9px 24px,
        9px 18px,
        12px 18px,
        12px 12px,
        18px 12px,
        18px 9px,
        24px 9px,
        24px 6px,
        calc(100% - 24px) 6px,
        calc(100% - 24px) 9px,
        calc(100% - 18px) 9px,
        calc(100% - 18px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 18px,
        calc(100% - 9px) 18px,
        calc(100% - 9px) 24px,
        calc(100% - 6px) 24px,
        calc(100% - 6px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 6px),
        24px calc(100% - 6px),
        24px calc(100% - 9px),
        18px calc(100% - 9px),
        18px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 18px),
        9px calc(100% - 18px),
        9px calc(100% - 24px),
        6px calc(100% - 24px),
        6px 50%,
        0px 50%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d29603;
    display: block;
    pointer-events: none;
}
.pixel-corners::after {
    margin: -6px;
}

/* END PIXEL CORNERS */
/* ----------------- */
