*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(245, 245, 245);
    background-color: rgb(48, 48, 48);
    text-rendering: optimizeLegibility;
}

header,
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: rgb(46, 23, 92);
}

header {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 5rem;
    text-shadow: 0px 5px rgb(48, 48, 48);
    margin-top: 1rem;
    margin-bottom: 0;
}

header h1 span.emoji {
    font-size: 3rem;
}
header button {
    max-width: fit-content;
    margin-bottom: 1rem;
}

main {
    flex-grow: 1;
    align-content: center;
}

main #score-board,
main #deck-area {
    width: 400px;
    height: 100px;
    margin: auto;
    background-color: rgb(3, 51, 3);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem 1.5rem;
}

main #score-board #streak-counter {
    align-items: center;
    transform: rotateZ(354deg);
}

main #score-board #modifiers {
    width: 150px;
}

#streak-counter h3,
#streak-counter p,
#discard-pile h3,
#active-pile h3 {
    font-family: "Jersey 10", sans-serif;
    text-shadow: 0px 3px rgb(48, 48, 48);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    line-height: 2rem;
}

#streak-counter.update-bounce-animate {
    animation-name: update-bounce;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes update-bounce {
    0% {
        transform: scale(1) rotateZ(-2deg);
    }
    30% {
        transform: scale(1.5) rotateZ(8deg);
    }
    50% {
        transform: scale(1.5) rotateZ(-11deg);
    }
    70% {
        transform: scale(1.5) rotateZ(8deg);
    }
    100% {
        transform: scale(1) rotateZ(-2deg);
    }
}

main #score-board #streak-counter h3 {
    font-size: 1.5rem;
}

main #score-board #streak-counter p {
    font-size: 3rem;
}

main div.game-board {
    width: 400px;
    height: 300px;
    background-color: rgb(3, 51, 3);
    margin: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

main div.game-board div.card-row,
main div.game-board div.btn-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

div.card {
    background-color: rgb(245, 245, 245);
    color: rgb(12, 12, 12);
    width: 6rem;
    height: 9rem;
    border: solid 2px rgb(12, 12, 12);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div.game-board div.card h3 {
    font-size: 2rem;
}

div.card.card-back {
    background-image: url(/images/card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 2px rgb(245, 245, 245);
}

main div.game-board div.card.card-back:hover {
    cursor: not-allowed;
}

main div.game-board div.card.flippable:not(:hover) {
    animation: shake 5s infinite;
}

/* From [https://unused-css.com/blog/css-shake-animation/] */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateY(0) rotate(0);
    }
    85% {
        transform: translateY(-9px);
    }
    87% {
        transform: translateY(-9px) rotate(7deg);
    }
    91% {
        transform: translateY(-9px) rotate(-7deg);
    }
    93% {
        transform: translateY(-9px) rotate(7deg);
    }
    95% {
        transform: translateY(-9px) rotate(-7deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

main div.game-board div.card.flippable:hover {
    border: solid 3px #d29603;
    cursor: pointer;
}

.flip-animate {
    animation-name: flip-animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes flip-animation {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.slide-and-replace {
    animation: slide-and-replace 1s forwards;
}
@keyframes slide-and-replace {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-133%);
    }
}

.slide-and-fade-out {
    animation: slide-and-fade-out 1s forwards;
    animation-iteration-count: 1;
}

@keyframes slide-and-fade-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

button {
    padding: 0.5rem 1.5rem;
    background-color: rgb(110, 0, 0);
    border: solid 2px rgb(12, 12, 12);
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-weight: 600;
    min-width: 6rem;
}

button:hover {
    background-color: #d29603;
    cursor: pointer;
}

button.not-selectable {
    background-color: gray;
    cursor: not-allowed;
}

button.selected {
    background-color: rgb(15, 108, 15);
    border: solid 2px #d29603;
    animation-name: selection-float;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes selection-float {
    from {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(2px);
    }
}

#deck-area div.card-pile {
    transition: transform 0.3s ease-in-out;
}

#deck-area div.card-pile.empty,
#deck-area div.card-pile.inactive-pile {
    cursor: not-allowed;
}

#deck-area div.card-pile.empty {
    opacity: 0.5;
}

#deck-area div.card-pile.inactive-pile {
    filter: grayscale();
}

#deck-area div.card-pile:not(.inactive-pile):hover {
    border: solid 2px #d29603;
    cursor: pointer;
    transform: translateY(-20px) rotateZ(-2deg) scale(1.1);
}

footer p span#footer-emoji {
    cursor: pointer;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    pointer-events: none;
}

#modal-overlay {
    background-color: rgba(48, 48, 48, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;
}
#modal-content {
    background-color: rgb(46, 23, 92);
    margin: auto;
    width: 600px;
    min-height: 400px;
    padding: 2rem;
    box-shadow: 0px 5px rgb(48, 48, 48);
}

#modal-content h2,
span#game-over-streak {
    font-family: "Jersey 10", sans-serif;
    font-size: 3rem;
    text-shadow: 0px 5px rgb(48, 48, 48);
    margin-bottom: 0;
    text-align: center;
}

#game-over-modal-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

span#game-over-streak {
    padding-left: 5px;
    color: #d29603;
}

#modal-header,
#modal-btn-row {
    display: flex;
    justify-content: center;
}

#game-over-modal-text {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

/* START PIXEL CORNERS */
/* ------------------- */

/* Pixelated border effect, from  [https://pixelcorners.lukeb.co.uk/] */
.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(
        0px calc(100% - 21px),
        3px calc(100% - 21px),
        3px calc(100% - 15px),
        6px calc(100% - 15px),
        6px calc(100% - 9px),
        9px calc(100% - 9px),
        9px calc(100% - 6px),
        15px calc(100% - 6px),
        15px calc(100% - 3px),
        21px calc(100% - 3px),
        21px 100%,
        calc(100% - 21px) 100%,
        calc(100% - 21px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 21px),
        100% calc(100% - 21px),
        100% 21px,
        calc(100% - 3px) 21px,
        calc(100% - 3px) 15px,
        calc(100% - 6px) 15px,
        calc(100% - 6px) 9px,
        calc(100% - 9px) 9px,
        calc(100% - 9px) 6px,
        calc(100% - 15px) 6px,
        calc(100% - 15px) 3px,
        calc(100% - 21px) 3px,
        calc(100% - 21px) 0px,
        21px 0px,
        21px 3px,
        15px 3px,
        15px 6px,
        9px 6px,
        9px 9px,
        6px 9px,
        6px 15px,
        3px 15px,
        3px 21px,
        0px 21px
    );
    position: relative;
}
.pixel-corners {
    border: 6px solid transparent;
}
.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(
        6px 24px,
        9px 24px,
        9px 18px,
        12px 18px,
        12px 12px,
        18px 12px,
        18px 9px,
        24px 9px,
        24px 6px,
        calc(100% - 24px) 6px,
        calc(100% - 24px) 9px,
        calc(100% - 18px) 9px,
        calc(100% - 18px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 18px,
        calc(100% - 9px) 18px,
        calc(100% - 9px) 24px,
        calc(100% - 6px) 24px,
        calc(100% - 6px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 6px),
        24px calc(100% - 6px),
        24px calc(100% - 9px),
        18px calc(100% - 9px),
        18px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 18px),
        9px calc(100% - 18px),
        9px calc(100% - 24px),
        6px calc(100% - 24px)
    );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(
        0px calc(100% - 21px),
        3px calc(100% - 21px),
        3px calc(100% - 15px),
        6px calc(100% - 15px),
        6px calc(100% - 9px),
        9px calc(100% - 9px),
        9px calc(100% - 6px),
        15px calc(100% - 6px),
        15px calc(100% - 3px),
        21px calc(100% - 3px),
        21px 100%,
        calc(100% - 21px) 100%,
        calc(100% - 21px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 21px),
        100% calc(100% - 21px),
        100% 21px,
        calc(100% - 3px) 21px,
        calc(100% - 3px) 15px,
        calc(100% - 6px) 15px,
        calc(100% - 6px) 9px,
        calc(100% - 9px) 9px,
        calc(100% - 9px) 6px,
        calc(100% - 15px) 6px,
        calc(100% - 15px) 3px,
        calc(100% - 21px) 3px,
        calc(100% - 21px) 0px,
        21px 0px,
        21px 3px,
        15px 3px,
        15px 6px,
        9px 6px,
        9px 9px,
        6px 9px,
        6px 15px,
        3px 15px,
        3px 21px,
        0px 21px,
        0px 50%,
        6px 50%,
        6px 24px,
        9px 24px,
        9px 18px,
        12px 18px,
        12px 12px,
        18px 12px,
        18px 9px,
        24px 9px,
        24px 6px,
        calc(100% - 24px) 6px,
        calc(100% - 24px) 9px,
        calc(100% - 18px) 9px,
        calc(100% - 18px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 18px,
        calc(100% - 9px) 18px,
        calc(100% - 9px) 24px,
        calc(100% - 6px) 24px,
        calc(100% - 6px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 6px),
        24px calc(100% - 6px),
        24px calc(100% - 9px),
        18px calc(100% - 9px),
        18px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 18px),
        9px calc(100% - 18px),
        9px calc(100% - 24px),
        6px calc(100% - 24px),
        6px 50%,
        0px 50%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d29603;
    display: block;
    pointer-events: none;
}
.pixel-corners::after {
    margin: -6px;
}

/* END PIXEL CORNERS */
/* ----------------- */
