*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(245, 245, 245);
    background-color: rgb(48, 48, 48);
    text-rendering: optimizeLegibility;
}

header,
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: rgb(46, 23, 92);
}

header h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 5rem;
}

header h1 span.emoji {
    font-size: 3rem;
}

main {
    flex-grow: 1;
    align-content: center;
}

main div.game-board {
    width: 400px;
    height: 400px;
    background-color: rgb(3, 51, 3);
    margin: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

main div.game-board div.card-row,
main div.game-board div.btn-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

main div.game-board div.card {
    background-color: rgb(245, 245, 245);
    color: rgb(12, 12, 12);
    width: 6rem;
    height: 9rem;
    border: solid 2px rgb(12, 12, 12);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div.game-board div.card h3 {
    font-size: 2rem;
}

main div.game-board div.card.card-back {
    background-image: url(/images/card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 2px rgb(245, 245, 245);
}

main div.game-board div.btn-row button {
    padding: 0.5rem 1.5rem;
    background-color: rgb(110, 0, 0);
    border: solid 2px rgb(12, 12, 12);
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-weight: 600;
}

main div.game-board div.btn-row button:hover {
    background-color: #d29603;
    cursor: pointer;
}

footer p span#footer-emoji {
    cursor: pointer;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    cursor: no-drop;
    pointer-events: none;
}

/* START PIXEL CORNERS */
/* ------------------- */

/* Pixelated border effect, from  [https://pixelcorners.lukeb.co.uk/] */
.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(
        0px calc(100% - 21px),
        3px calc(100% - 21px),
        3px calc(100% - 15px),
        6px calc(100% - 15px),
        6px calc(100% - 9px),
        9px calc(100% - 9px),
        9px calc(100% - 6px),
        15px calc(100% - 6px),
        15px calc(100% - 3px),
        21px calc(100% - 3px),
        21px 100%,
        calc(100% - 21px) 100%,
        calc(100% - 21px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 21px),
        100% calc(100% - 21px),
        100% 21px,
        calc(100% - 3px) 21px,
        calc(100% - 3px) 15px,
        calc(100% - 6px) 15px,
        calc(100% - 6px) 9px,
        calc(100% - 9px) 9px,
        calc(100% - 9px) 6px,
        calc(100% - 15px) 6px,
        calc(100% - 15px) 3px,
        calc(100% - 21px) 3px,
        calc(100% - 21px) 0px,
        21px 0px,
        21px 3px,
        15px 3px,
        15px 6px,
        9px 6px,
        9px 9px,
        6px 9px,
        6px 15px,
        3px 15px,
        3px 21px,
        0px 21px
    );
    position: relative;
}
.pixel-corners {
    border: 6px solid transparent;
}
.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(
        6px 24px,
        9px 24px,
        9px 18px,
        12px 18px,
        12px 12px,
        18px 12px,
        18px 9px,
        24px 9px,
        24px 6px,
        calc(100% - 24px) 6px,
        calc(100% - 24px) 9px,
        calc(100% - 18px) 9px,
        calc(100% - 18px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 18px,
        calc(100% - 9px) 18px,
        calc(100% - 9px) 24px,
        calc(100% - 6px) 24px,
        calc(100% - 6px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 6px),
        24px calc(100% - 6px),
        24px calc(100% - 9px),
        18px calc(100% - 9px),
        18px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 18px),
        9px calc(100% - 18px),
        9px calc(100% - 24px),
        6px calc(100% - 24px)
    );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(
        0px calc(100% - 21px),
        3px calc(100% - 21px),
        3px calc(100% - 15px),
        6px calc(100% - 15px),
        6px calc(100% - 9px),
        9px calc(100% - 9px),
        9px calc(100% - 6px),
        15px calc(100% - 6px),
        15px calc(100% - 3px),
        21px calc(100% - 3px),
        21px 100%,
        calc(100% - 21px) 100%,
        calc(100% - 21px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 3px),
        calc(100% - 15px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 6px),
        calc(100% - 9px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 9px),
        calc(100% - 6px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 15px),
        calc(100% - 3px) calc(100% - 21px),
        100% calc(100% - 21px),
        100% 21px,
        calc(100% - 3px) 21px,
        calc(100% - 3px) 15px,
        calc(100% - 6px) 15px,
        calc(100% - 6px) 9px,
        calc(100% - 9px) 9px,
        calc(100% - 9px) 6px,
        calc(100% - 15px) 6px,
        calc(100% - 15px) 3px,
        calc(100% - 21px) 3px,
        calc(100% - 21px) 0px,
        21px 0px,
        21px 3px,
        15px 3px,
        15px 6px,
        9px 6px,
        9px 9px,
        6px 9px,
        6px 15px,
        3px 15px,
        3px 21px,
        0px 21px,
        0px 50%,
        6px 50%,
        6px 24px,
        9px 24px,
        9px 18px,
        12px 18px,
        12px 12px,
        18px 12px,
        18px 9px,
        24px 9px,
        24px 6px,
        calc(100% - 24px) 6px,
        calc(100% - 24px) 9px,
        calc(100% - 18px) 9px,
        calc(100% - 18px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 18px,
        calc(100% - 9px) 18px,
        calc(100% - 9px) 24px,
        calc(100% - 6px) 24px,
        calc(100% - 6px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 24px),
        calc(100% - 9px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 18px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 12px),
        calc(100% - 18px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 9px),
        calc(100% - 24px) calc(100% - 6px),
        24px calc(100% - 6px),
        24px calc(100% - 9px),
        18px calc(100% - 9px),
        18px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 18px),
        9px calc(100% - 18px),
        9px calc(100% - 24px),
        6px calc(100% - 24px),
        6px 50%,
        0px 50%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d29603;
    display: block;
    pointer-events: none;
}
.pixel-corners::after {
    margin: -6px;
}

/* END PIXEL CORNERS */
/* ----------------- */
